<div class="navbar-sticky">
<nav class="grey darken-3">
  <div class="nav-wrapper">
    <div class="container ">
      <a href="/" class="brand-logo">TechBase</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right waves-effect hide-on-med-and-down">
        <li> <%= link_to "Posts", posts_path %></li>
        <li> <%= link_to "WRITE A POST", posts_new_path,  class:"btn btn-small" %></li>
        <li> <%= link_to "About",  about_path %></li>
      </ul>
    </div>
  </div>
</nav>
<div>

<ul class="sidenav" id="mobile-links">
  <li> <%= link_to "Posts", posts_path %></li>
  <li> <%= link_to "WRITE A POST", posts_new_path,  class:"btn btn-small" %></li>
  <li> <%= link_to "About",  about_path %></li>
</ul>

<ul class="sidenav" id="mobile-links">
  <li><a class="nav-link" href="/posts">Posts</a></li>
  <li> <a class="nav-link btn btn-small" href="/posts/new">WRITE A POST</a></li>
  <li><a class="nav-link" href="/about">About</a></li>
</ul>

<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  })
</script>

