<div class="row">
<div class="col-md-4">
  <ul class="list-group">
  <% @categories.each do |category| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= category.name %>
    <span class="badge badge-primary badge-pill"> <%= category.id %></span>
  </li>
  <% end %>
</ul>


</div>
<div class="col-md-4">
<% @posts.each do |post| %>
<div class="card" style="width:800px">
  <div class="card-body">
    <h1 class="card-title"><%= post.title %></h1>
    <h4 class="card-text"><%= post.subtitle %></h4>
    <p><%= post.content %><p>

    <a href="#" class="btn btn-secondary float-right">Read more</a>
  </div>
    <div class="card-footer text-muted">
       <small><%= post.author %></small>
      <small class="float-right"> <%= post.created_at.strftime('%B %d %Y, %l:%M%P') %></small>
    </div>
</div><br>
<% end %>
</div>


</div>