<div class="container">
    <p><%= @post.author %> <small><%= @post.created_at.strftime('%B %d, %Y') %></small><p>
    <h1><%= @post.title %></h1>
    <h5><%= @post.subtitle %></h5>
    <p><%= @post.content %></p>
    <div class="right">
    <a class="waves-effect waves-light  btn-small"> <span><i class="far fa-edit"></i> Edit</span></a>
    <a class="waves-effect waves-light  btn-small"> <span><i class="fas fa-trash-alt"></i> Delete</span></a>
    </div>
</div>
