<div >
  <p><%= @post.author %>
    <small><%= @post.created_at.strftime('%B %d, %Y') %></small>
  </p>
    <h1><%= @post.title %></h1><hr>
    <h5><%= @post.subtitle %></h5>
    <p><%= sanitize @post.content %></p>
  <div class="right">
    <a  href="/posts/<%= @post.id %>/edit" class="waves-effect waves-light  btn-small">
      <span><i class="far fa-edit"></i> Edit</span>
    </a>
    <a href="/posts/<%= @post.id %>" data-method="delete" class="waves-effect waves-light  btn-small">
       <span><i class="fas fa-trash-alt"></i> Delete</span>
    </a>
  </div>
</div>
