<%= content_for(:title, "Posts") %>
<div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-content category">
          <ul class="list-group">
            <% @categories.each do |category| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= category.name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
  <div class="col s12 m7">
    <% @posts.each do |post| %>
      <div class="card hoverable">
        <div class="card-image">
          <% if post.image.attached? %>
            <%= image_tag(post.image, style:'width:100%') %>
        <% end %>
        </div>
        <div class="card-content">
          <p class="card-title">#<%= post.title %></p>
          <%= image_tag("jay.jpg", style: 'max-width:5%;', :class => "userIcon", :alt => "img") %><br>
          <p><%= sanitize(post.content.truncate(200, separator: '</p>')) %></p>
        </div>

        <div class="card-action">
          <div><small><%= post.author %></small></div>
          <div><small><%= post.created_at.strftime('%B %d') %></small></div>
          <div class="reading-time"></div>
          <div id="btn">
            <%= link_to "Read more", show_path(post.id)%>
          </div>
        </div>
      </div>
    <% end %>
    <div class="right">
    <%== pagy_nav_materialize(@pagy) %>
    </div>
  </div>
</div>
